{% extends "layout.html" %}
{% block content %}
    <h1 class="mb=3">{{ user.username }}'s Recipes: ({{ meals.total }})</h1>
    {% for meal in meals.items %}
        <article class="media content-section">
            <div class="media-body">
                <div>
                    <a href="{{ url_for('meals.meal', meal_id=meal.id) }}">
                        <div>
                            <img src="{{ meal.image_file }}" width="125" height="125">
                            <p>{{ meal.name }}</p>    
                            <p>ETA: {{ meal.time }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in meals.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if meals.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.user_meals', username=current_user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_meals', username=current_user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}